body{
    display: flex;
    justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
/*   justify-content:space-between;
   align-items:space-between; */
    width: 1100px;
    height: 1000px;
    
    background: #111111;
}
h1{
    color:#FFFFFF;
    font-family: Inter;
 font-size: 40px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0em;
text-align: left;

}
input{
  color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box!important;
    width: 275px!important;
    height: 38px!important;
    background: #1E1E1E!important;
    margin-right: 20px!important;
    margin-bottom: 15px!important;
}
input::placeholder {
    color: #FFFFFF 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 1px;
  }
  form{
    background-color: #000000 !important;
    border: none !important;
  }
  #btn{
    margin-top: 20px !important;
    width: 400px !important;
    height: 45px !important;
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 24px !important;
line-height: 29px !important;
/* identical to box height */


color: #000000;
  }
  #search{
  
    width: 100% !important;
  }


  /* table */

  th, td{
    color: #FFFFFF !important;
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

  }
  /* table {
    border: 1px solid #FFFFFF ;
} */
thead, tbody{
    border: 1px solid #FFFFFF ;
}
tbody{
  height: 600px !important;
}
